<section>

 	<div class="container">
      	<div class="row">
			<div class="col-sm-8">



				<h1><%= title %></h1>

				<p> My todo list in nodejs/express/mongodb </p>


				<form role="form" class="form-inline">

					<label for="message">Message</label>
					<input class="form-control" type="text" name="message" id="message">
					
					<div class="btn btn-primary" id="btn">送信</div>

				</form>

				<br/><br/>

				<table id="list" class="table"></table>




			</div>
		</div>
	</div>
</section>
