    
<div class="jumbotron">
    <div class="container">
        
	    <h1><%= title %></h1>
	    <p>My todo list in nodejs/express/mongodb/socket.io. </p>
       
    </div>
</div>

<section>

 	<div class="container">
      	<div class="row">
			<div class="col-sm-8">


				<form role="form" class="form-inline">

					<label for="message">Add a new task </label>
					<input class="form-control" type="text" name="message" id="message">
					
					<div class="btn btn-primary" id="btn">Send</div>

				</form>

				<br/><br/>

				<table id="list" class="table table-striped"></table>


			</div>
		</div>
	</div>
</section>
